<!-- navbar.component.html -->
<nav class="navbar">
    <div class="logo">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">James Buckley</a> <!-- Link to Home -->
    </div>
    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a> <!-- Link to Home -->
      <a routerLink="/about" routerLinkActive="active">About</a> <!-- Link to About -->
      <a routerLink="/contact" routerLinkActive="active">Contact</a> <!-- Link to Contact -->
    </div>
  </nav>
  